# Core Dependencies
Flask

# For OAuth Integration
Authlib

# For Payment Processing with Stripe
stripe
six

# For Caching (Redis)
redis
python-memcached

# For Task Queue (Celery with Redis)
celery

# For Testing
pytest
pytest-mock